body {
    margin: 0;
    padding: 0;
    background-color: #3c8b93;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selectedMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.selected {
    font-size: 30px;
}

.selectedBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 0px 0px;
    width: 350px;
    height: 70px;
    border: 1px solid black;
    display: flex;
    column-gap: 50px;
}

.button:hover {
    cursor: pointer;
}

.back {
    margin-top: 20px;
}